.button {
  color: rgb(0, 123, 255);
  text-decoration: none;
}

.title {
  color: rgb(0, 123, 255);
  text-decoration: none;
  font-size: 20;
}

.bullet {
  list-style-type: none;
}

.bullet li {
  margin-bottom: 8px;
}

.title:hover {
  color: black;
  text-decoration: underline;
}

.btn {
  color: white;
}

.spacing {
  margin: 0 40px;
}

.nounderline {
  text-decoration: none;
}
